@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif !important;
}

a {
  color: #00B7FF;
}
#drawCanvas{
  position: absolute;
}

#videoContainer{
  width: 800px;
  height: 600px;
}
#map { 
  margin: auto;
  position:absolute; 
  text-align: center;
  top:250px; 
  bottom:0; 
  width:100%;
  padding: 10px; 
  font-size: 300%;
}

