.navStyle {
  position: 'absolute';
  top: 0;
  left: 0;
  padding: '10px';
}

.pin {
  cursor: pointer;
}

.tracked {
  display: none;
}

.tracked :hover {
  display: block;
}
rect {
  fill: green;
  opacity: 0.3;
}
rect.detected{
  fill: red;
  opacity: 0.3;
}
