.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Panel{
  float: left;
}
.Map{
  float: left;
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 340px;
}
#rectangle{
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
}
.detectionform{
  z-index: 100000;
  position: relative;
  margin-left: 10%;
  margin-top: 0;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
